package todo

import "github.com/C3LOUD/the-heart-stack/db"

templ TodoList (todos []db.Todo) {
	if len(todos) == 0 {
		<p id="empty-string">Empty</p>
	}
	<ol id="todo-list">
		for _, todo := range todos {
			@TodoItem(todo)
		}
	</ol>
}
