package page

import "github.com/C3LOUD/the-heart-stack/components/layout"

templ Index() {
	@layout.Base() {
		<div class="pt-12">
			<span class="text-6xl">Welcome to HEAT Stack <span class="text-red-500">♥</span></span>
		</div>
	}
}
