package ui

templ ExpandedButton (id string) {
	<style type="text/css">
@keyframes slideIn {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 1s linear; 
    transition: width 1s;
}

</style>
	<button hx-delete="/todos/:id/confirm" hx-swap="outerHTML swap:1s" class="block slide-in text-nowrap">
		<ion-icon name="trash"></ion-icon>
		<span>Are you sure?</span>
	</button>
}
